<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PDF下载</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style mce_bogus="1" type="text/css">
body {
	font-family: SimSun;
}

@page {
	size: 210mm 297mm
}
</style>
</head>
<body>
	<table width="100%" height="60" border="0" align="center"
		cellpadding="0" cellspacing="0">
		<#list list as item>
		<tr>
			<td>${item.index}</td>
			<td>${item.name}</td>
		</tr>
		</#list>
	</table>
</body>
</html>
