<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>盘点单模板</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style mce_bogus="1" type="text/css">
body {
	font-family: SimSun;
}

@page {
	size: 210mm 297mm
}
</style>
</head>
<body>
	<div>
		<img src="${host}" alt="logo"
			width="100" />
	</div>
	<table style="text-align: center;" width="100%" height="60" border="1"
		align="center" cellpadding="3" cellspacing="0">
		<tr>
			<td>序号</td>
			<td>料号</td>
			<td>序列号</td>
			<td>批号</td>
			<td>账面数量</td>
			<td>盘点数量</td>
			<td>差异原因</td>
		</tr>
		<#list list as item>
		<tr>
			<td>${item.id}</td>
			<td>${item.partNumber}</td>
			<td>${item.serialNumber}</td>
			<td>${item.batchNumber}</td>
			<td>${item.quantity}</td>
			<td>${item.checkQuantity}</td>
			<td style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;${item.differenceReason}</td>
		</tr>
		</#list>
	</table>
</body>
</html>
