import request from '@/utils/httpRequest.js'

export function ${classname}List (data) {
  return request({
    url: request.adornUrl('/${moduleName}/${pathName}/list'),
    method: 'get',
    params: request.adornParams(data)
  })
};

export function ${classname}Delete (data) {
  return request({
    url: request.adornUrl('/${moduleName}/${pathName}/delete'),
    method: 'post',
    data: request.adornData(data, false)
  })
}

export function ${classname}Info (id) {
  return request({
    url: request.adornUrl(`/${moduleName}/${pathName}/info/${id}`),
    method: 'get',
    params: request.adornParams()
  })
}

export function ${classname}Save (id, data) {
  return request({
    url: request.adornUrl(`/${moduleName}/${pathName}/${!id ? 'save' : 'update'}`),
    method: 'post',
    data: request.adornData(data)
  })
}

export function ${classname}AdvancedSearch (data) {
  return request({
    url: request.adornUrl(`/${moduleName}/${pathName}/advancedSearch`),
    method: 'post',
    data: request.adornData(data)
  })
}

export function ${classname}Export (data) {
  return request({
    url: request.adornUrl(`/${moduleName}/${pathName}/exportExcel`),
    method: 'post',
    data: request.adornData(data),
    responseType: 'blob'
  })
}

export function ${classname}Import (data) {
  return request({
    url: request.adornUrl(`/${moduleName}/${pathName}/import`),
    method: 'post',
    data: request.adornData(data)
  })
}

export function select${className}ByName (data) {
  return request({
    url: request.adornUrl('/${moduleName}/${pathName}/select${className}ByName'),
    method: 'get',
    params: request.adornParams(data)
  })
}
